# API secrets
api/appsettings.Development.json
api/appsettings.json
api/publish/

node_modules/
api/bin/
api/obj/
api.tests/bin/
api.tests/obj/
client/dist/

api.tests/bin/
api.tests/obj/

.env.docker
